<html lang="en">

  <head>
      <title>Login</title>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="ROBOTS" content="ALL" />
      <meta name="keywords" content="monos, rxbot, monosbot" />
      <meta name="description" content="" />
  </head>

  <body>
    <h2>Login</h2>
    <input type="hidden" name="next" value="{{ next }}" />
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Login</button>
    </form>
  </body>

</html>