@font-face {
  font-family: 'Rancho';
  font-style: normal;
  font-weight: 400;
  src: local('Rancho Regular'), local('Rancho-Regular'), url(s/rancho/v8/IhBhtOi02NLuvxWW4RuNVg.ttf) format('truetype');
}
